body{
    background-image:url('imag2.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.header{
    width: 99%;
    height: 9%;
    background:#2C2C44;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-size:45px;
    font-family: 'Sofia';
    color:#FB7004;
    position: fixed;
    top:1%;
}
P{
	font-size:45px;
	margin-top: auto;
	margin-bottom: auto;
}
#user{
    height: 78%;
    width:100%;
    margin-top: 300px;
}
